:root {
  --color-primary: #F1CDB3;
  --color-light-s: #FAFAFA;
  --color-light-l: #F6F6F6;
  --color-light-xl: #FFFFFF;
  --color-dark-s: #CDCDCD;
  --color-dark-m: #B2B2B2;
  --color-dark-l: #545454;
  --color-dark-xl: #4C4C4C;
  --color-dark-3xl: #292929;
}

*, *::before, *::after, * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-y: overlay;
}
a {
  text-decoration: none;
}

/* Header styles start */

.header {
  background-color: var(--color-light-xl);
  padding: 30px 0 30px 0;
}

.header__wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 3.125%;
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
  margin-bottom: 10px;
}

.header__subtitle {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 115.5%;
  letter-spacing: 0.1em;
  color: var(--color-dark-3xl);
  padding-left: 4px;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  column-gap: 35px;
}

.menu__link {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: var(--color-dark-l);
  padding-bottom: 5px;
}

.menu__link.active {
  border-bottom: 3px solid var(--color-primary);
  color: var(--color-dark-3xl);
}

/* Header styles end */
