:root {
  --color-primary: #F1CDB3;
  --color-primary-light: #FDDCC4;
  --color-light-s: #FAFAFA;
  --color-light-l: #F6F6F6;
  --color-light-xl: #FFFFFF;
  --color-dark-s: #CDCDCD;
  --color-dark-m: #B2B2B2;
  --color-dark-l: #545454;
  --color-dark-xl: #4C4C4C;
  --color-dark-3xl: #292929;
}

*, *::before, *::after, * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-y: overlay;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

/* Header styles start */

.header {
  background-color: var(--color-light-xl);
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__logo-link {
  transition: 0.5s ease-out;
}

.header__logo-link:active .header__title{
  color: var(--color-primary);
  cursor: pointer;
  transition: 0.5s ease-out;
}

.header__title {
  font-family: 'Georgia', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
  margin-bottom: 10px;
}

.header__subtitle {
  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 115.5%;
  letter-spacing: 0.1em;
  color: var(--color-dark-3xl);
  padding-left: 4px;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  column-gap: 35px;
}

.menu__link {
  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: var(--color-dark-l);
  padding-bottom: 5px;
}

.menu__link.active {
  border-bottom: 3px solid var(--color-primary);
  color: var(--color-dark-3xl);
}

.header__burger {
  display: none;
  width: 30px;
  height: 22px;
  position: relative;
}

.burger__line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000000;
  position: absolute;
  left: 0;
}

.burger__line_first {
  top: 0;
}

.burger__line_second {
  top: 50%;
  transform: translateY(-50%);
}

.burger__line_third {
  bottom: 0;
}

/* Header styles end */

/* Our friends styles start */

.our-friends {
  background-color: var(--color-light-l);
}

.our-friends__content {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 60px;
  padding-top: 80px;
  padding-bottom: 100px;
}

.our-friends__title {
  max-width: 400px;
  font-family: 'Georgia', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
  text-align: center;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px 40px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-light-s);
  row-gap: 30px;
  border-radius: 9px;
  overflow: hidden;
  transition: 0.5s ease-out; 
  max-width: 270px;
  cursor: pointer;
}

.pets__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 9px 9px 0 0;
}

.name {
  font-family: 'Georgia', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l)
}

.our-friends__learn-more {
  width: 11.68rem;
  height: 3.25rem;
  max-width: 187px;
  max-height: 52px;
  white-space: nowrap;
  padding: 13px 43px;
  border: 2px solid var(--color-primary);
  background-color: var(--color-light-s);
  font-family: 'Georgia', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  border-radius: 100px;
  color: var(--color-dark-3xl);
  margin-bottom: 30px;
  cursor: pointer;
  transition: 0.5s ease-out;
}

.our-friends__learn-more:active {
  filter: contrast(120%);;
  cursor: pointer;
  transition: 0.5s ease-out;
}

.our-friends__navigation {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.our-friends__btn {
  width: 3.25rem;
  height: 3.25rem;
  font-family: 'Georgia', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--color-dark-3xl);
  border: 2px solid var(--color-primary);
  background: var(--color-light-l);
  border-radius: 100px;
  transition: 0.5s ease-out;
  cursor: pointer;
}

.our-friends__btn.disabled {
  color: var(--color-dark-s);
  border: 2px solid var(--color-dark-s);
  background: transparent;
  cursor: auto;
}

.our-friends__btn.btn-current {
  color: var(--color-dark-3xl);
  border: 2px solid var(--color-primary);
  background: var(--color-primary);
  cursor: pointer;
}

.our-friends__btn.active:active,
.our-friends__btn.btn-current:active {
  filter: contrast(110%);;
  cursor: pointer;
  transition: 0.5s ease-out;
}

/* Our friends styles end */

/* Footer styles start */

.footer {
  background: url(../../assets/images/texture.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20 ;
}

.footer__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 40px;
}

.footer__contacts {
  display: flex;
  flex: 1 1 1;
  flex-direction: column;
  gap: 40px;
}

.footer__title {
  max-width: 280px;
  font-family: 'Georgia', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--color-light-xl);
  padding-top: 16px;
}

.footer__mail,
.footer__phone,
.footer__location {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  transition: 0.5s ease-out;
}

.footer__text {
  font-family: 'Georgia', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-primary);
}

.footer__locations {
  display: flex;
  flex-direction: column;
  gap: 33px;
}

.email-link,
.phone-link,
.map-link {
  transition: 0.5s ease-out;
}

.email-link:active .footer__mail,
.phone-link:active .footer__phone,
.map-link:active .footer__location {
  filter: sepia(60%) brightness(1.5);
  cursor: pointer;
  transition: 0.5s ease-out;
}

/* Footer styles end */

@media (hover: hover) {

  .header__logo-link:hover {
    transform: scale(1.1);
    opacity: 0.9;
  }

  .menu__link:hover {
    color: var(--color-dark-3xl);
  }

  .card:hover .our-friends__learn-more {
    border-color: var(--color-light-s);
    background: var(--color-primary-light);
  }

  .card:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    background: var(--color-light-xl);
  }

  .our-friends__btn.active:hover {
    border-color: var(--color-primary-light);
    background: var(--color-primary-light);
  }

  .our-friends__btn.btn-current:hover {
    border-color: var(--color-primary-light);
    background: var(--color-primary-light);
  }

  .email-link:hover,
  .phone-link:hover,
  .map-link:hover {
    transform: scale(1.1);
    opacity: 0.9;
  }

}

@media screen and (max-width: 952px) { 

  .wrapper {
    padding: 0 30px;
  }

  .our-friends__content {
    gap: 30px;
    padding-bottom: 76px;
  }

  .card:nth-child(n+7) {
    display: none;
  }

  .our-friends__navigation {
    padding-top: 10px;
  }

 

  /* .footer__title {
    padding-top: 0;
  } */
}

@media screen and (max-width: 800px) { 

  .wrapper {
    padding: 0 30px;
  }

  .our-friends__content {
    gap: 30px;
    padding-bottom: 76px;
  }

  .card:nth-child(n+7) {
    display: none;
  }

  .our-friends__navigation {
    padding-top: 10px;
  }

  .footer__body {
    justify-content: center;
    padding-top: 30px;
    gap: 60px;
  }

  .footer__body {
    justify-content: center;
    padding-top: 30px;
    gap: 60px;
  }

  .footer__title {
    padding-top: 0;
  }
}

@media screen and (max-width: 767px) { 

  .header__burger {
    display: block;
  }

  .header__menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transform: translateX(-100%);
    background: #191919cf;
    transition: all 0.8s ease;
  }
}

@media screen and (max-width: 462px) { 

  .wrapper {
    padding: 0 10px;
  }

  .our-friends__content {
    gap: 42px;
    padding: 42px 0;
  }

  .our-friends__title {
    max-width: 300px;
    font-size: 25px;
  }

  .cards-container {
    gap: 30px;
  }

  .card:nth-child(n+4) {
    display: none;
  }

  .our-friends__navigation {
    padding-top: 0;
    gap: 10px;
  }

  .footer__body {
    align-items: center;
    justify-content: center;
    gap: 44px;
  }

  .footer__contacts {
    align-items: center;
    gap: 40px;
  }

  .footer__locations {
    text-align: center;
    justify-content: center;
    gap: 40px;
  }

  .footer__title {
    font-size: 25px;
    text-align: center;
  }

  .footer__img {
    max-width: 260px;
  }
}

@media screen and (max-width: 325px) { 

  .header__body {
    padding: 30px 10px;
  }

  .our-friends__title {
    max-width: 400px;
  }
}