:root {
  --color-primary: #F1CDB3;
  --color-primary-light: #FDDCC4;
  --color-light-s: #FAFAFA;
  --color-light-l: #F6F6F6;
  --color-light-xl: #FFFFFF;
  --color-dark-s: #CDCDCD;
  --color-dark-m: #B2B2B2;
  --color-dark-l: #545454;
  --color-dark-xl: #4C4C4C;
  --color-dark-3xl: #292929;
}

*, *::before, *::after, * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-y: overlay;
}
a {
  text-decoration: none;
}

/* Header styles start */

.header {
  background-color: var(--color-light-xl);
  padding: 30px 0 30px 0;
}

.header__wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 3.125%;
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
  margin-bottom: 10px;
}

.header__subtitle {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 115.5%;
  letter-spacing: 0.1em;
  color: var(--color-dark-3xl);
  padding-left: 4px;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  column-gap: 35px;
}

.menu__link {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: var(--color-dark-l);
  padding-bottom: 5px;
}

.menu__link.active {
  border-bottom: 3px solid var(--color-primary);
  color: var(--color-dark-3xl);
}

/* Header styles end */

/* Our friends styles start */

.our-friends {
  background-color: var(--color-light-l);
  padding: 6.25% 0 7.81% 0;
}
  
.our-friends__wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 3.125%;
}
  
.our-friends__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.our-friends__title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
  text-align: center;
  margin-bottom: 60px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 40px;
  row-gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-light-s);
  row-gap: 30px;
  border-radius: 9px;
  overflow: hidden;
}

.pets__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 9px 9px 0 0;
}

.name {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%; /* 23px */
  letter-spacing: 0.06em;
  color: var(--color-dark-l)
}

.our-friends__learn-more {
  border: 2px solid var(--color-primary);
  background-color: var(--color-light-s);
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  max-height: 52px;
  padding: 13px 43px;
  border-radius: 100px;
  color: var(--color-dark-3xl);
  margin-bottom: 30px;
  cursor: pointer;
}

/* Our friends styles end */

/* Footer styles start */

.footer {
  padding-top: 40px;
  background: url(../../assets/images/texture.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20 ;
}

.footer__wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 3.125%;
}

.footer__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin-bottom: 60px;
}

.footer__title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-light-xl);
}

.footer__mail,
.footer__phone {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
}

.footer__text {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-primary);
}

.footer__locations {
  display: flex;
  flex-direction: column;
  row-gap: 33px;
  margin-bottom: 60px;
}

.location-london,
.location-boston {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
}

.footer__img {
  width: 25%;
  height: auto;
}

/* Footer styles end */

@media (hover: hover) {

  .menu__link:hover {
    color: var(--color-dark-3xl);
    transition: all 0.5s ease;
  }

  .card:hover .our-friends__learn-more {
    padding: 15px 45px;
    background: var(--color-primary-light);
    cursor: pointer;
    border: none;
  }

  .card:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    background: var(--color-light-xl);
    cursor: pointer;
    transition: all 0.5s ease;
  }

  .our-friends__learn-more:hover {
    padding: 15px 45px;
    background: var(--color-primary-light);
    cursor: pointer;
    border: none;
    transition: all 0.5 ease;
  }

}